<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".LegacyApp"
        android:theme="@style/Theme.Legacy">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LayoutsDemoActivity"
            android:label="XML Layouts"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.ViewsDemoActivity"
            android:label="Common Views"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.IntentsDemoActivity"
            android:label="Intents"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.LifecycleDemoActivity"
            android:label="Activity Lifecycle"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.RecyclerDemoActivity"
            android:label="RecyclerView"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.FragmentsDemoActivity"
            android:label="Fragments"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.SqliteDemoActivity"
            android:label="SQLite Database"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.MvvmDemoActivity"
            android:label="MVVM Architecture"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>